body {
  margin: 0;
  width: 100%;
  background: black;
}

.penguin_container {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 333px;
  top: 15%;
  transition:all 0.4s;
}

.body {
  /*border: solid 2px red;*/
  width: 298px;
	height: 333px;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  background: #465a65;
  position: absolute;
}

.movin{
  top:0;
}

.belly {
  width: 240px;
  background: #deddd0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 150px;
  margin: 0 auto;
  margin-top: 150px;
  overflow: hidden;
}

.belly::before{
  content: '';
  width: 240px;
  background: #f6f5e4;
  border-bottom-left-radius: 55%;
  border-bottom-right-radius: 43%;
  height: 135px;
  display: block;
  position: absolute;
}

.face_white span {
  height: 100px;
  background: #f6f5e4;
  width: 121px;
  position: absolute;
  top: 55px;
}

.face_white span:nth-child(1) {
  left: 29px;
  border-top-left-radius: 100%;
  border-top-right-radius: 50%;
}

.face_white span:nth-child(2) {
  right: 29px;
  border-top-right-radius: 100%;
  border-top-left-radius: 50%;
}

.cover span {
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
}

.eyemovin{
  top:0;
}

.cover span:nth-child(1) {left: 60px;     transition:all 2.4s;}

.cover span:nth-child(2) {right: 60px;   transition:all 1.4s;}


.eyes span {
  width: 40px;
  height: 40px;
  background: #263238;
  border-radius: 50px;
  position: absolute;
  top:100px;
}

.eyes span:nth-child(1) {left: 70px;}

.eyes span:nth-child(2) {right: 70px;}

.eyes span::after {
  content: '';
  position: absolute;
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 8px;
  left: 9px;
}



.beak span:nth-child(1) {
  width: 35px;
  height: 35px;
  background: #f5b815;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 130px;
  top: 130px;
  z-index: 9;
  border-radius: 15%;
}

.beak span:nth-child(2) {
  width: 50px;
  height: 10px;
  border-bottom: 5px solid #262626;
  position: absolute;
  top: 138px;
  left: 123px;
  z-index: 999;
  border-radius: 50%;
}

.cheeks span {
  width: 30px;
  height: 15px;
  border-radius: 50%;
  background: pink;
  position: absolute;
  top: 145px;
  z-index: 99;
}

.cheeks span:nth-child(1){
  left: 54px;
}

.cheeks span:nth-child(2){
  right: 54px;
}

.feet span {
  width: 40px;
  height: 90px;
  position: absolute;
  background: #f5b81f;
  border-radius: 50%;
  bottom: -42px;
  z-index: -1;
}

.feet span:nth-child(1){
  -webkit-transform: rotate(77deg);
  -ms-transform: rotate(77deg);
  transform: rotate(77deg);
  left: 60px;
}

.feet span:nth-child(2){
  -webkit-transform: rotate(-77deg);
  -ms-transform: rotate(-77deg);
  transform: rotate(-77deg);
  right: 60px;
}

.wings span {
  width: 40px;
  height: 90px;
  position: absolute;
  background: #465a65;
  border-radius: 50%;
  top: 136px;
  z-index: -1;
}

.wings span:nth-child(1){
  left: -30px;
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  top: 210px;
  border-bottom-left-radius: 100%;
    transform-origin: top right;
}

.wings span:nth-child(2){
  right: -30px;
  -webkit-transform: rotate(-140deg);
  -ms-transform: rotate(-140deg);
  transform: rotate(-140deg);
  border-bottom-right-radius: 100%;
  left: 285px;
  top: 210px;
  transform-origin: top left;
}

.flappy-right{
  animation: flap .05s linear infinite alternate;
}

.flappy-left{
  animation: flap2 .05s linear infinite alternate;
}

@keyframes flap {
    0% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(-120deg);
    }
}

@keyframes flap2 {
    0% {
        transform: rotate(80deg);
    }
    100% {
        transform: rotate(120deg);
    }
}
